{% extends 'layouts/auth_base.html' %}
{% load static %}
{% block title %} Login {% endblock title %}

{% block content %}
<div class="card-body !p-10">
    <div class="text-center mb-8">
        <a href="#"><img src="{% static 'assets/images/logo-dark.svg' %}" alt="img" class="mx-auto auth-logo"/></a>
    </div>
    <h4 class="text-center font-medium mb-4">Login</h4>
    <div class="mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="Email Address" />
    </div>
    <div class="mb-4">
        <input type="password" class="form-control" id="floatingInput1" placeholder="Password" />
    </div>
    <div class="flex mt-1 justify-between items-center flex-wrap">
        <div class="form-check">
        <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="" />
        <label class="form-check-label text-muted" for="customCheckc1">Remember me?</label>
        </div>
        <h6 class="font-normal text-primary-500 mb-0">
        <a href="#"> Forgot Password? </a>
        </h6>
    </div>
    <div class="mt-4 text-center">
        <button type="button" class="btn btn-primary mx-auto shadow-2xl">Login</button>
    </div>
    <div class="flex justify-between items-end flex-wrap mt-4">
        <h6 class="font-medium mb-0">Don't have an Account?</h6>
        <a href="register-v1.html" class="text-primary-500">Create Account</a>
    </div>
</div>
{% endblock content %}
