{% extends 'layouts/auth_base.html' %}
{% block title %} Auth Sign Up {% endblock %}
{% block content %}
  <!-- Signup Form (Initially Hidden) -->
<form id="signup-form" method="post" class="space-y-5">
      {% if form.non_field_errors %}
        <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 rounded">
            {% for error in form.non_field_errors %}
                    <p class="font-medium">Invalid login credentials</p>
            {% endfor %}
        </div>
    {% endif %}
  {% csrf_token %}
    <div>
      <label for="signupName" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Full Name</label>
      <input type="text" id="signupName" name="username" class="mt-1 block w-full px-4 py-2 border border-gray-300 dark:border-gray-600 rounded-xl shadow-sm focus:ring-teal-500 focus:border-teal-500 dark:bg-gray-700 dark:text-white" placeholder="Your Name" required />
      <span class="text-sm text-red-600 font-medium">{{ form.errors.username }}</span>
    </div>
    <div>
      <label for="signupEmail" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>
      <input type="email" id="signupEmail" name="eamil" class="mt-1 block w-full px-4 py-2 border border-gray-300 dark:border-gray-600 rounded-xl shadow-sm focus:ring-teal-500 focus:border-teal-500 dark:bg-gray-700 dark:text-white" placeholder="jane@example.com" required />
      <span class="text-sm text-red-600 font-medium">{{ form.errors.eamil }}</span>
    </div>
    <div>
      <label for="signupPassword" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Password</label>
      <input type="password" placeholder="*****" id="signupPassword" name="password1" class="mt-1 block w-full px-4 py-2 border border-gray-300 dark:border-gray-600 rounded-xl shadow-sm focus:ring-teal-500 focus:border-teal-500 dark:bg-gray-700 dark:text-white" required />
      <span class="text-sm text-red-600 font-medium">{{ form.errors.password1 }}</span>
    </div>
    <div>
      <label for="signupConfirmPassword" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Confirm Password</label>
      <input type="password" placeholder="*****" id="signupConfirmPassword" name="password2" class="mt-1 block w-full px-4 py-2 border border-gray-300 dark:border-gray-600 rounded-xl shadow-sm focus:ring-teal-500 focus:border-teal-500 dark:bg-gray-700 dark:text-white" required />
      <span class="text-sm text-red-600 font-medium">{{ form.errors.password2 }}</span>
    </div>
    <button type="submit"  class="w-full flex justify-center py-3 px-4 border border-transparent rounded-xl shadow-lg text-sm font-semibold text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500 transition-all transform hover:scale-[1.01]">Sign Up</button>
  </form>

</div>
{% endblock %}