{% load static %}
<meta charset="utf-8" />
<!-- Tailwind CSS CDN -->
<script src="https://cdn.tailwindcss.com"></script>

<!-- Lucide Icons CDN -->
<script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>

<!-- Inter Font -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet" />

<script>
  // Configuration for Tailwind CSS
  tailwind.config = {
    darkMode: 'class', // Enable dark mode using the 'class' strategy
    theme: {
      extend: {
        fontFamily: {
          sans: ['Inter', 'sans-serif'] // Set Inter as the default sans-serif font
        }
      }
    }
  }
</script>
<!-- [Template CSS Files] -->
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}"  />
