<ul class="pc-navbar">
  <li class="pc-item pc-caption">
    <label>Navigation</label>
  </li>
  <li class="pc-item">
  <li class="pc-item">
    <a href="{% url 'core:index' %}" class="pc-link text-decoration-none">
      <span class="pc-micon"><i data-feather="home"></i></span>
      <span class="pc-mtext">Dashboard</span>
    </a>
  </li>
  <li class="pc-item">
    <a href="{% url 'customer:customer' %}" class="pc-link text-decoration-none">
      <span class="pc-micon"><i data-feather="users"></i></span>
      <span class="pc-mtext">Customer</span>
    </a>
  </li>
  <li class="pc-item">
    <a href="{% url 'subscriptions:subscriptions_card' %}" class="pc-link text-decoration-none">
      <span class="pc-micon"><i data-feather="award"></i></span>
      <span class="pc-mtext">Subscriptions</span>
    </a>
  </li>
  <li class="pc-item">
    <a href="{% url 'coupons:coupons_card' %}" class="pc-link text-decoration-none">
      <span class="pc-micon"><i data-feather="tag"></i></span>
      <span class="pc-mtext">Coupons</span>
    </a>
  </li>
  <li class="pc-item">
    <a href="{% url 'manageusers:manage_users' %}" class="pc-link text-decoration-none">
      <span class="pc-micon"><i data-feather="settings"></i></span>
      <span class="pc-mtext">Manage Users</span>
    </a>
  </li>
  <li class="pc-item">
    <a href="{% url 'reports:reports' %}" class="pc-link text-decoration-none">
      <span class="pc-micon"><i data-feather="file-text"></i></span>
      <span class="pc-mtext">Reports</span>
    </a>
  </li>
</ul>
