<!-- Navigation -->
<nav class="flex-1 px-4 py-6 space-y-2 overflow-y-auto" style="height: calc(100vh - 4rem);">
  <a href="{% url 'core:index' %}"  class="nav-link flex items-center p-3 rounded-lg transition-colors duration-200">
    <i data-lucide="home" class="w-5 h-5 mr-3"></i>
    <span>Dashboard</span>
  </a>
  <a href="{% url 'customer:customer' %}" class="nav-link flex items-center p-3 rounded-lg transition-colors duration-200">
    <i data-lucide="users" class="w-5 h-5 mr-3"></i>
    <span>Customers</span>
  </a>
  <a href="{% url 'subscriptions:subscriptions_card' %}" class="nav-link flex items-center p-3 rounded-lg transition-colors duration-200">
    <i data-lucide="calendar-clock" class="w-5 h-5 mr-3"></i>
    <span>Subscriptions</span>
  </a>
  <a href="{% url 'coupons:coupons_card' %}" class="nav-link flex items-center p-3 rounded-lg transition-colors duration-200">
    <i data-lucide="ticket" class="w-5 h-5 mr-3"></i>
    <span>Coupons</span>
  </a>
  <a href="{% url 'manageusers:manage_users' %}" class="nav-link flex items-center p-3 rounded-lg transition-colors duration-200">
    <i data-lucide="user-cog" class="w-5 h-5 mr-3"></i>
    <span>Manage Users</span>
  </a>
  <a href="{% url 'reports:reports' %}" class="nav-link flex items-center p-3 rounded-lg transition-colors duration-200">
    <i data-lucide="bar-chart-2" class="w-5 h-5 mr-3"></i>
    <span>Reports</span>
  </a>
</nav>