{% load static %}
<!-- Required Js -->
<script src="{% static 'assets/js/plugins/simplebar.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/popper.min.js' %}"></script>
<script src="{% static 'assets/js/icon/custom-icon.js' %}"></script>
<script src="{% static 'assets/js/plugins/feather.min.js' %}"></script>
<script src="{% static 'assets/js/component.js' %}"></script>
<script src="{% static 'assets/js/theme.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>
<script>
    const DarkImageUrl = '{% static 'assets/images/logo-dark.svg' %}';
    const LightImageUrl = '{% static 'assets/images/logo-white.svg' %}';
</script>

<script>
    layout_theme_sidebar_change('true');
</script>

<script>
    change_box_container('false');
</script>

<script>
    layout_caption_change('true');
</script>

<script>
    layout_rtl_change('false');
</script>

<script>
    preset_change('preset-1');
</script>

<script>
    main_layout_change('vertical');
</script>
