{% load static %}
<!-- [ Sidebar Menu ] start -->
<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header flex items-center py-4 px-6 h-header-height">
      <a href="{% url 'core:index' %}" class="b-brand flex items-center gap-3">
        <!-- ========   Change your logo from here   ============ -->
        <img src="{% static 'assets/images/logo-white.svg' %}" class="img-fluid logo logo-lg" alt="logo" />
      </a>
    </div>
    <div class="navbar-content h-[calc(100vh_-_74px)] py-2.5">
      {% include 'include/menu-list.html' %}
    </div>
  </div>
</nav>
<!-- [ Sidebar Menu ] end -->