{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Customers {% endblock title %}
{% block breadcrumbs %}
<!-- [ breadcrumb ] start -->
<div class="page-header">
  <div class="page-block">
    <div class="page-header-title">
      <h5 class="mb-5 font-medium">Customers</h5>
    </div>
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'core:index'%}" class="text-decoration-none">Home</a></li>
      <li class="breadcrumb-item" aria-current="page">Customers</li>
    </ul>
  </div>
</div>
<!-- [ breadcrumb ] end -->
{% endblock breadcrumbs %}

{% block content %}
<!-- [ Main Content ] start -->
<div class="grid grid-cols-12 gap-x-6">
  <div class="col-span-12">
    <div class="card">
      <!-- Card Header -->
      <div class="card-header d-flex justify-content-between align-items-center flex-wrap">
        <h5 class="mb-0">Customer List</h5>
        <div class="header-actions d-flex align-items-center gap-3 mt-2 mt-md-0">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCustomerModal">
            + Add Customer
          </button>
          <section class="filter-section me-3">
            <select id="filter-type">
              <option value="all">User Type</option>
              <option value="dealer">Dealer</option>
              <option value="distributor">Distributor</option>
              <option value="retailer">Retailer</option>
            </select>
          </section>
          <section class="filter-section me-3">
            <select id="filter-type">
              <option value="all">Subscription Type</option>
              <option value="pro">Pro</option>
              <option value="basic">Basic</option>
              <option value="enterprise">Enterprise</option>
            </select>
          </section>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>User</th>
                <th>Message</th>
                <th>Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr class="unread">
                <td>
                  <img class="rounded-full max-w-10" style="width: 40px"
                    src="/static/assets/images/user/avatar-1.jpg" alt="activity-user">
                </td>
                <td>
                  <h6 class="mb-1">Isabella Christensen</h6>
                  <p class="m-0">Lorem Ipsum is simply dummy text of…</p>
                </td>
                <td>
                  <h6 class="text-muted">
                    <i class="fas fa-circle text-success text-[10px] ltr:mr-4 rtl:ml-4"></i>
                    11 MAY 12:56
                  </h6>
                </td>
                <td>
                  <a href="#!" class="badge bg-theme-bg-2 text-white text-[12px] mx-2">Reject</a>
                  <a href="#!" class="badge bg-theme-bg-1 text-white text-[12px]">Approve</a>
                </td>
              </tr>
              <tr class="unread">
                <td>
                  <img class="rounded-full max-w-10" style="width: 40px"
                    src="/static/assets/images/user/avatar-2.jpg" alt="activity-user">
                </td>
                <td>
                  <h6 class="mb-1">Mathilde Andersen</h6>
                  <p class="m-0">Lorem Ipsum is simply dummy text of…</p>
                </td>
                <td>
                  <h6 class="text-muted">
                    <i class="fas fa-circle text-danger text-[10px] ltr:mr-4 rtl:ml-4"></i>
                    11 MAY 10:35
                  </h6>
                </td>
                <td>
                  <a href="#!" class="badge bg-theme-bg-2 text-white text-[12px] mx-2">Reject</a>
                  <a href="#!" class="badge bg-theme-bg-1 text-white text-[12px]">Approve</a>
                </td>
              </tr>
              <tr class="unread">
                <td>
                  <img class="rounded-full max-w-10" style="width: 40px"
                    src="/static/assets/images/user/avatar-3.jpg" alt="activity-user">
                </td>
                <td>
                  <h6 class="mb-1">Karla Sorensen</h6>
                  <p class="m-0">Lorem Ipsum is simply dummy text of…</p>
                </td>
                <td>
                  <h6 class="text-muted">
                    <i class="fas fa-circle text-success text-[10px] ltr:mr-4 rtl:ml-4"></i>
                    9 MAY 17:38
                  </h6>
                </td>
                <td>
                  <a href="#!" class="badge bg-theme-bg-2 text-white text-[12px] mx-2">Reject</a>
                  <a href="#!" class="badge bg-theme-bg-1 text-white text-[12px]">Approve</a>
                </td>
              </tr>
              <tr class="unread">
                <td>
                  <img class="rounded-full max-w-10" style="width: 40px"
                    src="/static/assets/images/user/avatar-1.jpg" alt="activity-user">
                </td>
                <td>
                  <h6 class="mb-1">Ida Jorgensen</h6>
                  <p class="m-0">Lorem Ipsum is simply dummy text of…</p>
                </td>
                <td>
                  <h6 class="text-muted f-w-300">
                    <i class="fas fa-circle text-danger text-[10px] ltr:mr-4 rtl:ml-4"></i>
                    19 MAY 12:56
                  </h6>
                </td>
                <td>
                  <a href="#!" class="badge bg-theme-bg-2 text-white text-[12px] mx-2 text-decoration-none">Reject</a>
                  <a href="#!" class="badge bg-theme-bg-1 text-white text-[12px] text-decoration-none">Approve</a>
                </td>
              </tr>
              <tr class="unread">
                <td>
                  <img class="rounded-full max-w-10" style="width: 40px"
                    src="/static/assets/images/user/avatar-2.jpg" alt="activity-user">
                </td>
                <td>
                  <h6 class="mb-1">Albert Andersen</h6>
                  <p class="m-0">Lorem Ipsum is simply dummy text of…</p>
                </td>
                <td>
                  <h6 class="text-muted">
                    <i class="fas fa-circle text-success text-[10px] ltr:mr-4 rtl:ml-4"></i>
                    21 JULY 12:56
                  </h6>
                </td>
                <td>
                  <a href="#!" class="badge bg-theme-bg-2 text-white text-[12px] mx-2">Reject</a>
                  <a href="#!" class="badge bg-theme-bg-1 text-white text-[12px]">Approve</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Pagination Footer -->
      <div class="card-footer d-flex justify-content-between align-items-center">
        <small>Showing 2 to 40 of 100 entries</small>
        <nav>
          <ul class="pagination pagination-sm mb-0">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="addCustomerModal" tabindex="-1" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCustomerModalLabel">Add Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Yaha Apna Form ya Content -->
        <input type="text" class="form-control mb-2" placeholder="Customer Name">
        <input type="email" class="form-control mb-2" placeholder="Email">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save Customer</button>
      </div>
    </div>
  </div>
</div>

<!-- [ Main Content ] end -->
{% endblock content %}
